/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.ok
  border-top: solid thick #00C853;
  padding: .5em 0 .5em;
  color: #00C853;
  font-weight: bold;

.not-ok
  border-top: solid thick #F44336;
  padding: .5em 0 .5em;
  color: #F44336;
  font-weight: bold;